
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 130.3rem;
}.frame-1-cyT {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 1.7rem;
  width: 100%;
  position: relative;
  align-items: center;

  .auto-group-ahhw-aoo {
    flex-shrink: 0;
    margin: 0rem 15.6rem 0.9rem 9.1rem;
    width: calc(100% - 24.7rem);
    height: 5.3rem;
    display: flex;
    align-items: center;

    .group-2-SzR {
      margin: 0rem 1.132rem 0.905rem 0rem;
      width: 3.5677rem;
      height: 4.3951rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .portfolio-wwB {
      margin: 0.3rem 24.6rem 0rem 0rem;
      font-size: 2.5rem;
      letter-spacing: 0.45rem;
      font-family: Koulen, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.9692382812;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .group-1-zuT {
      align-items: center;
      flex-shrink: 0;
      margin: 0.5rem 0rem 0.8rem 0rem;
      height: calc(100% - 1.3rem);
      display: flex;

      .home-8Ey {
        font-weight: 700;
        line-height: 1.9692382812;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.5rem;
        font-size: 2rem;
      }
      .skills-rgm {
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.3rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.9692382812;
        color: #000000;
      }
      .work-beM {
        line-height: 1.9692382812;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.8rem;
        font-size: 2rem;
        font-weight: 700;
      }
      .about-XH7 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.9692382812;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8rem;
      }
      .contact-4H3 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.9692382812;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-a1t9-NYd {
    padding: 7.1rem 14.9rem 11.1rem 15.3rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-zdux-UrZ {
      margin-bottom: 1.8rem;
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-on6r-Dp9 {
        margin-right: 6.4rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-xkgz-xWq {
          position: relative;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          width: 39.8rem;
          height: 19.6rem;

          .im-designer-sarmad-shabir-J4u {
            width: 39.8rem;
            position: absolute;
            left: 0;
            font-size: 5.4rem;
            font-weight: 700;
            line-height: 1.5;
            height: 16.2rem;
            top: 3.4rem;
            color: #ffffff;
            font-family: Merriweather, 'Source Sans Pro';
          }
          .get-every-single-solutions-JMj {
            left: 0;
            top: 0;
            font-weight: 400;
            color: #ff1919;
            font-family: Nokora, 'Source Sans Pro';
            white-space: nowrap;
            width: 26.6rem;
            height: 3.6rem;
            position: absolute;
            font-size: 1.8rem;
            line-height: 1.9692382812;
          }
        }
        .designing-impactful-experiences-through-a-harmony-of-creative-flair-and-technological-finesse-my-portfolio-exhibits-captivating-visuals-and-efficient-development-ensuring-immersive-digital-experiences-bLq {
          max-width: 63.1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.9692382812;
          color: #ffffff;
          font-family: Nokora, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .man-sits-desk-front-large-screen-that-says-word-search-it549702-4304-removebg-preview-1-dYR {
        margin-bottom: 6.2rem;
        width: 30.6rem;
        height: 31.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-7cff-hoB {
      margin-right: 46.1rem;
      width: calc(100% - 46.1rem);
      height: 5.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-5a2h-qPb {
        background-color: rgba(238, 0, 0, 0.8500000238);
        flex-shrink: 0;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25.7rem;
        height: 100%;
        font-size: 2.1rem;
        font-weight: 700;
        margin-right: 2.7rem;
        line-height: 1.9692382812;
        color: #ffffff;
        font-family: Open Sans Hebrew, 'Source Sans Pro';
        border-radius: 1rem;
      }
      .auto-group-ripv-6qK {
        height: 100%;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        width: 25.6rem;
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 1.9692382812;
        font-family: Open Sans Hebrew, 'Source Sans Pro';
        align-items: center;
        box-sizing: border-box;
        display: flex;
        border: solid 0.1rem #ee0000;
        border-radius: 1rem;
        justify-content: center;
      }
    }
  }
  .auto-group-z87x-A4V {
    display: flex;
    flex-direction: column;
    background-color: #ffeaea;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.1rem 8.4rem 13.7rem 6rem;
    width: 100%;
    align-items: center;

    .technical-abilities-sUh {
      font-size: 5.2rem;
      font-weight: 600;
      line-height: 1.26;
      color: #000000;
      font-family: Kreon, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 6.1rem 2.4rem;
    }
    .auto-group-b92d-NwF {
      width: calc(100% - 10rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 5.4rem 1.5rem 4.6rem;

      .c-language-4JH {
        font-family: Kulim Park, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 15rem 0rem 0rem;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.135;
        color: #000000;
      }
      .ui-ux-design-As7 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.8rem;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.135;
        color: #000000;
        font-family: Kulim Park, 'Source Sans Pro';
      }
      .frontend-development-h6M {
        font-family: Kulim Park, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.9rem;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.135;
        color: #000000;
      }
      .database-RY9 {
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.135;
        color: #000000;
        font-family: Kulim Park, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-d2s7-mM7 {
      margin: 0rem 4.3rem 1.4rem 5.6rem;
      width: calc(100% - 9.9rem);
      height: 12.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-qbed-68V {
        margin-right: 23.3rem;
        width: 72.9rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-3-dPK {
          width: 72.9rem;
          height: 12.2rem;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;

          .pluslogocicon214621-1-Au3 {
            height: 12.2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 51.9rem;
            width: 11.6rem;
          }
          .frontend-icon-6-1-VwK {
            width: 9.4rem;
            height: 9.4rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .png-clipart-logo-user-interface-design-user-experience-design-design-user-interface-design-label-thumbnail-removebg-preview-1-SLm {
          left: 30.2rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 11.1rem;
          height: 12.4rem;
          position: absolute;
        }
      }
      .database-computer-icons-microsoft-sql-server-clip-art-database-removebg-preview-1-1-hXb {
        margin-bottom: 0.2rem;
        width: 9.8rem;
        height: 9.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-kscq-12V {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .exploring-basic-concepts-of-data-structures-and-algorithms-using-c-for-program-development-kVs {
        font-family: Kulim Park, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 7.3rem;
        max-width: 23.9rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.135;
        color: #000000;
      }
      .exploring-ui-ux-design-principles-to-create-user-friendly-interfaces-for-basic-digital-experiences-Sdb {
        max-width: 24.2rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.135;
        color: #000000;
        font-family: Kulim Park, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 7rem;
      }
      .developing-foundational-skills-in-html-css-and-javascript-for-creating-basic-web-interfaces-jsb {
        font-weight: 600;
        line-height: 1.135;
        color: #000000;
        font-family: Kulim Park, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 7.9rem;
        max-width: 23.3rem;
        font-size: 2.2rem;
      }
      .acquiring-sql-fundamentals-for-basic-database-management-and-organization-2rh {
        font-weight: 600;
        line-height: 1.135;
        color: #000000;
        font-family: Kulim Park, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 22.3rem;
        font-size: 2.2rem;
      }
    }
  }
  .auto-group-x28m-893 {
    padding: 6.1rem 5.9rem 10.9rem 6rem;
    display: flex;
    column-gap: 6.4rem;
    box-sizing: border-box;
    width: 100%;
    height: 60.6rem;
    align-items: center;
    background-color: #000000;
    flex-shrink: 0;

    .rectangle-9-2VK {
      margin-top: 14.9rem;
      width: 24.8rem;
      height: 28.7rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2rem;
      flex-shrink: 0;
    }
    .auto-group-gsem-YiZ {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 56rem;
      height: 100%;
      align-items: center;

      .accomplishments-Vth {
        font-weight: 600;
        line-height: 1.26;
        color: #ffffff;
        font-family: Kreon, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.1rem 8.3rem 0rem;
        font-size: 5.2rem;
      }
      .auto-group-u1w5-ciR {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-10-mLR {
          margin-right: 6.4rem;
          width: 24.8rem;
          height: 28.7rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
          flex-shrink: 0;
        }
        .rectangle-11-tvq {
          height: 28.7rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
          flex-shrink: 0;
          width: 24.8rem;
        }
      }
    }
    .rectangle-12-EE1 {
      margin-top: 14.9rem;
      width: 24.8rem;
      height: 28.7rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2rem;
      flex-shrink: 0;
    }
  }
  .auto-group-xthx-Lnq {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 0.1rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-cgb7-tZT {
      box-sizing: border-box;
      padding: 7.8rem 6.5rem 14.7rem 8.4rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #ffeaea;
      flex-shrink: 0;

      .rectangle-14-pi1 {
        flex-shrink: 0;
        margin: 0rem 7.4rem 5.6rem 0rem;
        width: 28.7rem;
        height: 27.9rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 3.7rem;
      }
      .auto-group-eaxp-jpy {
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 3.1rem;
        display: flex;

        .hello-its-nice-to-see-you-here-Ga1 {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.6rem 0.7rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.7075;
          color: #000000;
          font-family: Khmer, 'Source Sans Pro';
        }
        .about-me-xhj {
          font-family: Kreon, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 7.4rem;
          font-weight: 600;
          line-height: 1.26;
          color: #000000;
        }
        .hi-there-im-sarmad-shabir-studying-computer-science-at-nust-islamabad-i-love-designing-and-making-websites-and-apps-i-enjoy-creating-easy-to-use-designs-and-also-learning-how-to-code-to-make-cool-digital-stuff-i-mix-my-creativity-with-technical-skills-to-make-websites-and-apps-frontend-designs-that-people-enjoy-using-feel-free-to-check-out-my-work-and-see-how-i-combine-design-and-tech-hQR {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 79.3rem;
          font-size: 2.4rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
        }
      }
    }
    .auto-group-nrid-E2y {
      height: 30.4rem;
      display: flex;
      align-items: center;
      background-color: #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5rem 15.8rem 5rem 12.1rem;
      width: 130.3rem;

      .sarmads-developer-portfolio-vRb {
        flex-shrink: 0;
        margin: 0rem 9.4rem 7.1rem 0rem;
        max-width: 24.2rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.55;
        color: #ffffff;
        font-family: Laila, 'Source Sans Pro';
      }
      .line-3-D9o {
        margin: 0rem 10.3rem 5.399rem 0rem;
        width: 0.2rem;
        height: 15.0013rem;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .home-skills-work-about-Vt1 {
        margin: 0rem 14.7rem 7.1rem 0rem;
        letter-spacing: 0.18rem;
        flex-shrink: 0;
        max-width: 6.5rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.2041761398;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .line-4-aeZ {
        height: 15.0013rem;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 6.125rem 5.399rem 0rem;
        width: 0.2rem;
      }
      .auto-group-j7b3-tv9 {
        margin: 0rem 2.525rem 7.25rem 0rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .material-symbols-call-RfB {
          margin: 0rem 0.1rem 3.35rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ic-baseline-email-8Zb {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.25rem;
          height: 2.6rem;
        }
      }
      .auto-group-9ryd-fJd {
        margin-bottom: 6.9rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item-923421228684-cjf {
          line-height: 1.2041761398;
          color: #ffffff;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.7rem;
          font-size: 2rem;
          font-weight: 300;
          letter-spacing: 0.18rem;
        }
        .sslashareegmailcom-vEZ {
          letter-spacing: 0.18rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.2041761398;
        }
      }
    }
  }
  .auto-group-bkx1-q6d {
    height: 4.9rem;
    line-height: 1.2041761398;
    letter-spacing: 0.18rem;
    white-space: nowrap;
    display: flex;
    font-size: 2rem;
    font-weight: 300;
    align-items: center;
    flex-shrink: 0;
    background-color: #0b0b0b;
    width: 130.4rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
  }
}
